.elementor-958 .elementor-element.elementor-element-23384fe>.elementor-container {
    max-width: 1200px;
}

.elementor-958 .elementor-element.elementor-element-23384fe {
    border-style: none;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -120px;
    z-index: 99;
}

.elementor-958 .elementor-element.elementor-element-23384fe>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-958 .elementor-element.elementor-element-44615f9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-958 .elementor-element.elementor-element-44615f9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-958 .elementor-element.elementor-element-6d90481 {
    text-align: left;
}

.elementor-958 .elementor-element.elementor-element-6d90481 img {
    width: 170px;
    max-width: 100%;
}

.elementor-958 .elementor-element.elementor-element-475b6ed>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu>ul,
.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: flex-end;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu .menu-item .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 100px;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-family: "Mulish", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    line-height: var(--e-global-typography-4c3a5c7-line-height);
    letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
    word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
    padding: 0px 25px 0px 25px;
    color: #FFFFFF;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    fill: #FFFFFF;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
    color: #009cc3;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
    fill: #009cc3;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    color: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
    margin: 0px 0px 0px 7px;
    border-style: none;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-family: "Mulish", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    line-height: var(--e-global-typography-4c3a5c7-line-height);
    letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
    word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
    padding: 12px 30px 12px 25px;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
    color: #FFFFFF;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
    fill: #FFFFFF;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
    color: #009cc3;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
    fill: #009cc3;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
    color: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
    fill: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    padding: 10px 0px 10px 0px;
    background-color: #2C313D;
    border-radius: 15px 15px 15px 15px;
    min-width: 220px;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: #2C313D;
    border-style: solid;
    border-color: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover {
    background-color: #2C313D;
    border-style: solid;
    border-color: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: #2C313D00;
    border-style: solid;
}

.elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-bc-flex-widget .elementor-958 .elementor-element.elementor-element-cbaf646.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-958 .elementor-element.elementor-element-cbaf646.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-958 .elementor-element.elementor-element-cbaf646.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-958 .elementor-element.elementor-element-cbaf646>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-column.elementor-col-25.elementor-top-column.elementor-element.elementor-element-475b6ed{
    margin-top:-15px;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search .jkit-search-modal i {
    font-size: 20px;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search .jkit-search-modal svg {
    width: 20px;
    fill: #009cc3;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search {
    text-align: right;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search .jkit-search-modal {
    color: #009cc3;
    border-radius: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 45px;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search .jkit-search-modal:hover {
    color: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-a85a89b .jeg-elementor-kit.jkit-search .jkit-search-modal:hover svg {
    fill: #11ee84;
}

.elementor-958 .elementor-element.elementor-element-a85a89b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #60ffa230;
}

body.elementor-page-958:not(.elementor-motion-effects-element-type-background),
body.elementor-page-958>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #222631;
}

@media(max-width:1024px) {
    .elementor-958 .elementor-element.elementor-element-23384fe {
        padding: 15px 20px 0px 10px;
    }

    .elementor-bc-flex-widget .elementor-958 .elementor-element.elementor-element-44615f9.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-958 .elementor-element.elementor-element-44615f9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-958 .elementor-element.elementor-element-6d90481>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-6d90481 {
        width: var(--container-widget-width, 250px);
        max-width: 250px;
        --container-widget-width: 250px;
        --container-widget-flex-grow: 0;
    }

    .elementor-bc-flex-widget .elementor-958 .elementor-element.elementor-element-475b6ed.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-958 .elementor-element.elementor-element-475b6ed.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-958 .elementor-element.elementor-element-475b6ed>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: #222631;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
        background-color: #222631;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        padding: 0px 25px 0px 25px;
        margin: 0px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: 16px;
        line-height: var(--e-global-typography-4c3a5c7-line-height);
        letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
        word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
        padding: 15px 15px 15px 6px;
        color: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
        fill: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
        color: #009cc3;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
        fill: #009cc3;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
        color: #11ee84;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
        fill: #11ee84;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin: 0px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: 16px;
        line-height: var(--e-global-typography-4c3a5c7-line-height);
        letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
        word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
        color: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
        fill: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
        color: #009cc3;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
        fill: #009cc3;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
        color: #11ee84;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
        fill: #11ee84;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 26px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 26px;
        fill: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        border-width: 1px 1px 1px 1px;
        border-radius: 8px 8px 8px 8px;
        color: #FFFFFF;
        margin: 0px 0px 0px 0px;
        padding: 8px 10px 8px 10px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover {
        border-width: 1px 1px 1px 1px;
        color: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu:hover svg {
        fill: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu i {
        font-size: 22px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
        width: 22px;
        fill: #ffffff;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        border-width: 0px 0px 0px 0px;
        color: #FFFFFF99;
        margin: 33px 15px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover {
        color: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu:hover svg {
        fill: #FFFFFF;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 260px;
        width: 150px;
        object-fit: contain;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo {
        margin: 20px 0px 0px 0px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-958 .elementor-element.elementor-element-23384fe {
        padding: 10px 15px 10px 5px;
    }

    .elementor-958 .elementor-element.elementor-element-44615f9 {
        width: 60%;
    }

    .elementor-958 .elementor-element.elementor-element-6d90481 {
        text-align: left;
        width: initial;
        max-width: initial;
    }

    .elementor-958 .elementor-element.elementor-element-6d90481 img {
        width: 140px;
    }

    .elementor-958 .elementor-element.elementor-element-475b6ed {
        width: 40%;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        font-size: 14px;
        line-height: var(--e-global-typography-4c3a5c7-line-height);
        letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
        word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: 14px;
        line-height: var(--e-global-typography-4c3a5c7-line-height);
        letter-spacing: var(--e-global-typography-4c3a5c7-letter-spacing);
        word-spacing: var(--e-global-typography-4c3a5c7-word-spacing);
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 24px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 24px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        padding: 8px 10px 8px 10px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 240px;
    }

    .elementor-958 .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo {
        margin: 18px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-958 .elementor-element.elementor-element-44615f9 {
        width: 25%;
    }

    .elementor-958 .elementor-element.elementor-element-475b6ed {
        width: 68%;
    }

    .elementor-958 .elementor-element.elementor-element-cbaf646 {
        width: 7%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-958 .elementor-element.elementor-element-44615f9 {
        width: 50%;
    }

    .elementor-958 .elementor-element.elementor-element-475b6ed {
        width: 50%;
    }

    .elementor-958 .elementor-element.elementor-element-cbaf646 {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 1025px) {
    .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .admin-bar .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 32px;
    }
}

@media (max-width: 782px) {
    .admin-bar .elementor-element.elementor-element-bd1ab72 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        top: 46px;
    }
}